@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+JP:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
